<?xml version='1.0' ?>
<menu>
  <item id="home" imagePath="home" linkPath="inf2050_spl.html" linkText="INF2050" >
    <item id="0-copy" imagePath="leaf" linkPath="inf2050_copy.html" linkText="Copyright" />
	<item id="0-tr" imagePath="leaf" linkPath="inf2050_tech.html" linkText="Technical Requirements" >
	</item>
	
	<item id="0-intro" imagePath="book_brown" linkPath="inf2050_int.html" linkText="Orientation" >
      <item id="0-bp" imagePath="leaf" linkPath="inf2050_bp.html" linkText="Big Picture" />
	  <item id="0-ex" imagePath="leaf" linkPath="inf2050_ex.html" linkText="Learner Expectations" />
    </item>
	
    <item id="1-a" imagePath="book_red" linkPath="pr1/inf2050_pr1.html" linkText="Project 1" >
      <item id="1-a-p2" imagePath="leaf" linkPath="pr1/inf2050_pr1_p2.html" linkText="Page 2" />
	  <item id="1-a-p3" imagePath="leaf" linkPath="pr1/inf2050_pr1_p3.html" linkText="Page 3" />
	  <item id="1-a-sum" imagePath="leaf" linkPath="pr1/inf2050_pr1_sum.html" linkText="Project 1 Summary" />
    </item>
	
	<item id="2-b" imagePath="book_blue" linkPath="pr2/inf2050_pr2.html" linkText="Project 2" >
      <item id="2-b-p2" imagePath="leaf" linkPath="pr2/inf2050_pr2_p2.html" linkText="Page 2" />
	  <item id="2-b-sum" imagePath="leaf" linkPath="pr2/inf2050_pr2_sum.html" linkText="Project 2 Summary" />
    </item>
	
	<item id="3-c" imagePath="book_orange" linkPath="pr3/inf2050_pr3.html" linkText="Project 3" >
      <item id="3-c-1-i" imagePath="book_orange" linkPath="pr3/trr1/inf2050_pr3_trr1.html" linkText="Training Room 1" >
	  	<item id="3-c-1-2" imagePath="leaf" linkPath="pr3/trr1/inf2050_pr3_trr1_p2.html" linkText="Page 2" />
	  	<item id="3-c-1-3" imagePath="leaf" linkPath="pr3/trr1/inf2050_pr3_trr1_p3.html" linkText="Page 3" />
	  	<item id="3-c-1-4" imagePath="leaf" linkPath="pr3/trr1/inf2050_pr3_trr1_p4.html" linkText="Page 4" />
        <item id="3-c-1-5" imagePath="leaf" linkPath="pr3/trr1/inf2050_pr3_trr1_ttp.html" linkText="Time To Practise 1" />
      </item>
      <item id="3-c-2-i" imagePath="book_orange" linkPath="pr3/trr2/inf2050_pr3_trr2.html" linkText="Training Room 2" >
	  	<item id="3-c-2-2" imagePath="leaf" linkPath="pr3/trr2/inf2050_pr3_trr2_p2.html" linkText="Page 2" />
	  	<item id="3-c-2-3" imagePath="leaf" linkPath="pr3/trr2/inf2050_pr3_trr2_p3.html" linkText="Page 3" />
		<item id="3-c-2-4" imagePath="leaf" linkPath="pr3/trr2/inf2050_pr3_trr2_p4.html" linkText="Page 4" />
        <item id="3-c-2-5" imagePath="leaf" linkPath="pr3/trr2/inf2050_pr3_trr2_ttp.html" linkText="Time To Practise 2" />
      </item>	  
      <item id="3-c-3-i" imagePath="book_orange" linkPath="pr3/trr3/inf2050_pr3_trr3.html" linkText="Training Room 3" >
	    <item id="3-c-3-2" imagePath="leaf" linkPath="pr3/trr3/inf2050_pr3_trr3_p2.html" linkText="Page 2" />
		<item id="3-c-3-3" imagePath="leaf" linkPath="pr3/trr3/inf2050_pr3_trr3_p3.html" linkText="Page 3" />
		<item id="3-c-3-4" imagePath="leaf" linkPath="pr3/trr3/inf2050_pr3_trr3_p4.html" linkText="Page 4" />
		<item id="3-c-3-5" imagePath="leaf" linkPath="pr3/trr3/inf2050_pr3_trr3_p5.html" linkText="Page 5" />
        <item id="3-c-3-6" imagePath="leaf" linkPath="pr3/trr3/inf2050_pr3_trr3_ttp.html" linkText="Time To Practise 3" />
	  </item>
	  <item id="3-c-4-i" imagePath="book_orange" linkPath="pr3/trr4/inf2050_pr3_trr4.html" linkText="Training Room 4" >
	    <item id="3-c-4-2" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p2.html" linkText="Page 2" />
		<item id="3-c-4-3" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p3.html" linkText="Page 3" />
		<item id="3-c-4-4" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p4.html" linkText="Page 4" />
		<item id="3-c-4-5" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p5.html" linkText="Page 5" />
		<item id="3-c-4-6" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p6.html" linkText="Page 6" />
		<item id="3-c-4-7" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p7.html" linkText="Page 7" />
		<item id="3-c-4-8" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_p8.html" linkText="Page 8" />
        <item id="3-c-4-9" imagePath="leaf" linkPath="pr3/trr4/inf2050_pr3_trr4_ttp.html" linkText="Time To Practise 4" />
	  </item>
	  <item id="3-c-5-i" imagePath="book_orange" linkPath="pr3/trr5/inf2050_pr3_trr5.html" linkText="Training Room 5" >
	    <item id="3-c-5-2" imagePath="leaf" linkPath="pr3/trr5/inf2050_pr3_trr5_p2.html" linkText="Page 2" />
        <item id="3-c-5-3" imagePath="leaf" linkPath="pr3/trr5/inf2050_pr3_trr5_ttp.html" linkText="Time To Practise 5" />
	  </item>
		<item id="3-c-6-i" imagePath="book_orange" linkPath="pr3/trr6/inf2050_pr3_trr6.html" linkText="Training Room 6" >
		<item id="3-c-6-2" imagePath="leaf" linkPath="pr3/trr6/inf2050_pr3_trr6_p2.html" linkText="Page 2" />
		<item id="3-c-6-3" imagePath="leaf" linkPath="pr3/trr6/inf2050_pr3_trr6_p3.html" linkText="Page 3" />
		<item id="3-c-6-4" imagePath="leaf" linkPath="pr3/trr6/inf2050_pr3_trr6_p4.html" linkText="Page 4" />
        <item id="3-c-6-5" imagePath="leaf" linkPath="pr3/trr6/inf2050_pr3_trr6_ttp.html" linkText="Time To Practise 6" />
	  </item>
      <item id="3-c-sum" imagePath="leaf" linkPath="pr3/inf2050_pr3_sum.html" linkText="Project 3 Summary" />
    </item>
   
	<item id="4-d" imagePath="book_green" linkPath="pr4/inf2050_pr4.html" linkText="Project 4" >
      <item id="4-d-p1" imagePath="leaf" linkPath="pr4/inf2050_pr4_pt1.html" linkText="Part 1" />
	  <item id="4-d-p2" imagePath="leaf" linkPath="pr4/inf2050_pr4_pt2.html" linkText="Part 2" />
	  <item id="4-d-p3" imagePath="leaf" linkPath="pr4/inf2050_pr4_pt3.html" linkText="Part 3" />
	  <item id="4-d-p4" imagePath="leaf" linkPath="pr4/inf2050_pr4_pt4.html" linkText="Part 4" />
	  <item id="4-d-p5" imagePath="leaf" linkPath="pr4/inf2050_pr4_pt5.html" linkText="Part 5" />
	  <item id="4-d-p6" imagePath="leaf" linkPath="pr4/inf2050_pr4_pt6.html" linkText="Part 6" />
	  <item id="4-d-sum" imagePath="leaf" linkPath="pr4/inf2050_pr4_sum.html" linkText="Project 4 Summary" />
    </item>
	
	<item id="0-sum" imagePath="leaf" linkPath="inf2050_sum.html" linkText="Course Summary" />
	<item id="0-glo" imagePath="leaf" linkPath="inf2050_glo.html" linkText="Course Glossary" />
	<item id="0-tk" imagePath="leaf" linkPath="inf2050_tk.html" linkText="Toolkit" />
  </item>
  
</menu>